[submodule "External/hlslpp"]
	path = External/hlslpp
	url = https://github.com/redorav/hlslpp.git
[submodule "External/entt"]
	path = External/entt
	url = https://github.com/skypjack/entt.git
[submodule "External/DirectXTex"]
	path = External/DirectXTex
	url = https://github.com/microsoft/DirectXTex.git
[submodule "External/cereal"]
	path = External/cereal
	url = https://github.com/USCiLab/cereal.git
[submodule "External/JoltPhysics"]
	path = External/JoltPhysics
	url = https://github.com/jrouwe/JoltPhysics.git
[submodule "External/Effekseer"]
	path = External/Effekseer
	url = https://github.com/tsukinokun/Effekseer.git
